<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <style>
        h1 {font-family: 'VT323', monospace; font-size: 60px; line-height: 0.2;}
        h2 {font-size: 15px;}
        .footer{ position: fixed; text-align: center; bottom: 0px; width: 100%;}
        table,td {
            border: 1px solid #333;
        }

        thead, tfoot {
            background-color: #333;
            color: #fff;
        }
        .center{
            margin-left: auto;
            margin-right: auto;
        }


    </style>
  </head>      

<body background="static/yellowbackground.png">
     <div id="title" style="text-align:center">
        <span style="text-align: center; vertical-align: middle;"><h1>About MEMInc.</h1></span>
     </div>

    <h2 style="text-align: center;">Founded in 1963, Magpie Electronic Machines Incorporated
         (better known as MEMI) was founded by people with a deep interest in data, both its 
        creation and storage.  From our earliest days we have pioneered ways to not only store 
        the new data being created every day, but also to bring old data up to modern standards.
        Here are some of the people in charge of making that happen:</h2>
    <h2 style="text-align: center;"></h2>

    <br><br><br>

    <span style="text-align: center; vertical-align: middle;"><h1>Our Founder</h1></span>

    <center><img src="static/tyrell.jpg" alt="Dr. Eldon Tyrell"></img></center>

    <h2 style="text-align: center;">With a bold vision of a future where man and machine work
    hand in hand, Magpie was founded by Dr. Eldon Tyrell in 1963.  His futuristic vision of machines
    aiding in humanity's ascension to a new plane of evolution continues to drive the spirit of 
    excellence and success for everything we do at Magpie!</h2>
   <h2 style="text-align: center;"></h2>

    <br><br><br>

    <span style="text-align: center; vertical-align: middle;"><h1>Our Leadership</h1></span>

    <table class="center">
        <tbody>
            <tr>
                <td><img src="static/griffith.jpg" alt="CEO!" width="150px" height="200px"></img></td>
                <td><b>CEO</b>: Tessa McGill</td>
            </tr>
            <tr>
                <td><img src="static/takagi.jpg" alt="CFO!" width="150px" height="200px"></img></td>
                <td><b>CFO</b>: Joseph Takagi</td>   
            </tr>
            <tr>
                <td><img src="static/ronnycox.jpg" alt="CTO!" width="150px" height="200px"></img></td>
                <td><b>CTO</b>: Richard Jones</td>   
            </tr>
            <tr>
                <td><img src="static/jolie.jpg" alt="CHRO!" width="150px" height="200px"></img></td>
                <td><b>CIO</b>: Kate Libby</td>   
            </tr>
            <tr>
                <td><img src="static/charles.jpg" alt="CHRO!" width="150px" height="200px"></img></td>
                <td><b>CHRO</b>: Charles</td>   
            </tr>
        </tbody>
    </table>
    


        <div class="footer">&#169 1963-1993 Magpie Electronic Machines Inc. All Rights Reserved
        </div>
        
</body>

</html>