<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <style>
      h1 {font-family: 'VT323', monospace; font-size: 50px; text-decoration: underline;}
      h2 {font-size: 18px;}
    </style>
  </head>      

<body background="static/yellowbackground.png">
     <div id="title" style="text-align:center">
        <span style="text-align: center; vertical-align: middle;"><h1>Guestbook</h1></span>
     </div>

     <center><img src="static/contruction.gif" alt="CONSTRUCTION!"></center>
     <center><img src="static/UNDERCONTRUCTIONPERSON.GIF" alt="CONSTRUCTION!"></center>

</body>

</html>
