<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <style>
      h1 {font-family: 'VT323', monospace; font-size: 50px; text-decoration: underline;}
      h2 {font-size: 18px;}
      .footer{ position: fixed; text-align: center; bottom: 0px; width: 100%;}  
    </style>
  </head>      

<body background="static/yellowbackground.png">
     <div id="title" style="text-align:center">
        <span style="text-align: center; vertical-align: middle;"><h1>Welcome!</h1></span>
     </div>

    <h2 style="text-align: center;">This is the internet home of Magpie
         Electonic Machines Incorporated.  From here you can learn about
         our products, programs, and people.  We specialize in the past
         and the future and where they meet.</h2>
    <h2 style="text-align: center;">We are always hiring!  Feel free to apply through our careers
        challenge to try to get an interview.</h2>

        <div class="footer">&#169 1963-1993 Magpie Electronic Machines Inc. All Rights Reserved
        </div>
        
</body>

</html>

