<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <style>
          links {font-family: 'VT323', monospace; font-size: 30px;}
          h2 {font-style: italic;}
        </style>
      </head>

      <body background="static/yellowbackground.png">
        <center><img src="static/logo.png" alt="MAGPIE!" width="150px" height="150px"></center>
        <br><center><a href="homepage.html" target="midframe"><links style="text-align: center;">Home</links></a></center></br>
        <br><center><a href="aboutus.html" target="midframe"><links style="text-align: center;">About Us</links></a></center></br>
        <br><center><a href="numwrite.html" target="midframe"><links style="text-align: center;">numwrite</links></a></center></br>
        <br><center><a href="punchcard.html" target="midframe"><links style="text-align: center;">Punch Cards</links></a></center></br>
        <br><center><a href="careers.html" target="midframe"><links style="text-align: center;">Careers</links></a></center></br>
     </body>

</html>