<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <style>
      h1 {font-family: 'VT323', monospace; font-size: 50px; text-decoration: underline;}
      h2 {font-size: 18px;}
      .footer{ position: fixed; text-align: center; bottom: 0px; width: 100%;}  
    </style>
  </head>      

<body background="static/yellowbackground.png">
     <div id="title" style="text-align:center">
        <span style="text-align: center; vertical-align: middle;"><h1>numwrite</h1></span>
     </div>

    <h2 style="text-align: center;">Magpie is proud to contribute to the open source 
     community with our classic numwrite command line utility.  numwrite allows you to easily 
    create a file and write numers to it.  We're proud to announce that our top people have 
     been hard at work updating numwrite to perform faster, provide more utility, and 
     better serve the open source community!  Stay tuned for the upcoming release!</h2>

        <div class="footer">&#169 1963-1993 Magpie Electronic Machines Inc. All Rights Reserved
        </div>
        
</body>

</html>
