<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <style>
      h1 {font-family: 'VT323', monospace; font-size: 50px; text-decoration: underline;}
      h2 {font-size: 18px;}
      .footer{ position: fixed; text-align: center; bottom: 0px; width: 100%;}  
    </style>
  </head>      

<body background="static/yellowbackground.png">
     <div id="title" style="text-align:center">
        <span style="text-align: center; vertical-align: middle;"><h1>Sorry, that's not the answer!  Please try again!</h1></span>
     </div>

        <div class="footer">&#169 1963-1993 Magpie Electronic Machines Inc. All Rights Reserved
        </div>
        
</body>

</html>