<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <style>
          links {font-family: 'VT323', monospace; font-size: 30px;}
          h2 {font-style: italic;}
        </style>
      </head>

      <body background="static/yellowbackground.png">
        <center><img src="static/logo.png" alt="MAGPIE!" width="150px" height="150px"></center>
        <br><center><links style="text-align: center;">Contact Us</links></center>
        <center><a href="mailto:memi@memi.com"><img src="static/email.gif" alt="EMAIL US!"></a></center>
        <br><center><links style="text-align: center;">Sign Our Guest Book</links></center>
        <center><a href="guestbook.html" target="midframe"><img src="static/guestbook17.gif" alt="GUEST Book!"></a></center>
        <br><br><br>

        <center><links style="text-align: center;">Total Visitors</links></center>
        <center><a href="https://www.hitwebcounter.com" target="_blank">
            <img src="https://hitwebcounter.com/counter/counter.php?page=7748990&style=0025&nbdigits=7&type=page&initCount=184673" title="Free Counter" Alt="web counter"   border="0" /></a></center>
        <br><br><br>
        <center><img src="static/netscape.gif" alt="NETSCAPE!" width="50%" height="50%"></center>
        <center><img src="static/ie.gif" alt="IE!" width="50%" height="50%"></center>

     </body>

</html>

